/* ----- configurações globais ---*/

.inter-uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  :root {
    --text-color: #667085;
    --main-color: #8E2424;
    --h2-metric:  #101828;

  }


*{  
    font-family: "Inter";
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px
}

/*----- Cabeçalho ------*/

.container{
        
    display: flex;
    justify-content: space-around;
     
    padding: 20px;
}


    
.logo{
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;    
    width: 200px;
    height: 40px;
}

.imagem{
    display: flex;
    justify-content: space-evenly;
    margin-left:5px ;
    
 
}
.logo-title{
    margin:10px;
    font-size: 18px;
    
}

a{
    text-decoration: none;
    
}

.select{
    display: flex;    
    align-items: center;
    
    width: 100vh;
    height: 40px;
    gap: 38px;
    padding-left: 10px;
    
}

.butonn{
    
    display: flex;  
    
    align-items: center;
    gap:  5px;
    height: 30px;
}


.btn-cadastro{
    
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color:  #8E2424; 
    color: aliceblue;
    border-radius: 10px;
    
}

.btn-cadastro:hover{
    cursor: pointer;
}

.btn-entrar{
    
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    color: var(--text-color);
    border-radius: 10px;
    
}

.btn-entrar:hover{
    cursor: pointer;
}

.inter-uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  /*----- banner config ----*/

.banner{
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 100% ;
    height: 40vh;
    padding-top: 96px;
    padding-bottom: 96px;
    
    
}

.title{
    font-family: "Inter";
    font-size: 16px;
    font-weight: 600;
    margin: 16px;
    color: #8E2424;
}

.title-question{
    font-family: "Inter";
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin: 16px;
    letter-spacing: -2px;
}

.title-paragraph{
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    margin: 16px;
    line-height: 30px;
    text-align: center;
    max-width: 792px;
}

/* ------metricas----*/

.container-metrica{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    height: 20vh;
    padding-top: 96px;
    padding-bottom: 280px;
    gap: 64px;
    
}

.metricas-conteudo{
    width: 270px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 0;
}

.metricas-conteudo h1{
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -2;
    color: var(--main-color);
    font-family: "Inter", sans-serif;

}

.metricas-conteudo h2{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;    
    color: var(--h2-metric);
    font-family: "Inter", sans-serif; 

}

.metricas-conteudo p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;    
    color: var(--text-color);
    font-family: "Inter", sans-serif; 
    

}

/*------Vagas------*/

.container-vaga{
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 80px;
    padding-right: 32px;
    padding-left: 32px;
    gap: 32px;
}
.span-vagas{
    
    color: #8E2424;
    font-weight: 500;
    width: fit-content;
    background-color:#f5f4f4;
    border-radius: 20px;
    padding: 4px 12px 4px 12px;
}
.title2-vagas{
    text-align: center;
    font-size: 36px;
    color: #101828;
    line-height: 44px;
    letter-spacing: -2;
    align-content: center;
    font-weight: 600;
}
.vagas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 700px;
    padding: 30px;
    
    
}
.foto{
    background-image: url(img/foto1.jpeg);
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;    
    width: 1200px;
    height: 400px;
    margin-top: 56px;
    
    
}

.bloc p{
    width: 900px;    
    font-weight: 400;
    font-size: 20px;
    padding-top: 40px;
}

/*-----Vagas disponiveis -----*/

.container-vagas{
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.vaga-disponiveis{
    width: 760px;  
    padding-top: 1em;
    padding-bottom: 6em;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.vaga-cargo{
    color: #101828;
    font-size: 1.6em;
    font-weight: 500;
    padding-bottom: 24px;

}

.info{

    padding: 24px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
   
}   
.info:hover{
    border: 2px solid rgb(196, 195, 195);
}
.titulo-vaga{
    display: flex;
    padding: 1em;
    color: #101828;
}

span{

    padding-left: 1em;
}
